/* Website body itself */
* {
	font-family: Monospace, mono, 'Courier New', Courier, fixed, 'Fixedsys';
}
body {
	font-size: 12pt;
	background: white;
	margin: 1em;
}

::selection {
	background: #ffe0b0;
	color: black;
}

/* Headings */
h1::before { content: '# '; color: #c0c0c0; }
h2::before { content: '## '; color: #c0c0c0; }
h3::before { content: '### '; color: #c0c0c0; }
h4::before { content: '#### '; color: #c0c0c0; }
h5::before { content: '##### '; color: #c0c0c0; }
h6::before { content: '###### '; color: #c0c0c0; }

/* Spoilers */
summary {
	cursor: crosshair;
}

summary:hover {
	font-weight: bold;
	background: #ffe0b0;
}

details {
	border-left: 0.25em solid #ffc080;
	padding: 0 0.2em;
	margin: 0;
}

/* Italic / small */
em, small {
	color: #404040;
}

/* Links */
a {
	color: black;
	cursor: crosshair;
	text-decoration: underline;

}

a:hover {
	font-weight: bold;
	background: #ffe0b0;
}

/* Codeblocks and stuff and more */
pre {
	padding: 0.5em;
	border: 0.25em solid black;
	font-size: 11pt;
	font-style: bold;
	overflow: auto;

	background: #206080;
	color: white;
	font-weight: bold;

}

.cb-code::selection {
	background: #e0f0ff;
	color: black;
}

/* > */
blockquote {
	border-left: 0.25em solid gray;
	padding: 0 0.2em;
	margin: 0;
}
