pre {
  background: #f5f5f5;
  padding: 1em;
  overflow-x: auto;
}

code {
  background: #f5f5f5;
}

blockquote {
	border-left: 5px solid #000;
	margin: 0em;
	padding: 0 5px;
}

blockquote p {
	display: inline
}
